@import "tailwindcss";

@theme {
  --color-olive-50: #f6f8f3;
  --color-olive-100: #eaefe3;
  --color-olive-200: #d4dec3;
  --color-olive-300: #b3c598;
  --color-olive-400: #8ea668;
  --color-olive-500: #6d8a41;
  --color-olive-600: #4d612a; /* Darkened for better contrast on white */
  --color-olive-700: #3d4d22;
  --color-olive-800: #323f1e;
  --color-olive-900: #2a341b;
  --color-olive-950: #161c0d;
}